footer {
    width: 100%;
    position: sticky;
    text-align: center;
}
footer .container {
    border-top: 2px solid $gray-300;
    background-color: $gray-200;
    font-style: italic;
    padding: 30px 0px;
}
