header {
    //position: fixed;
    background-color: $dark;
}

header .container, header .caja{
    display: flex;
    background-color: $dark;
    align-items: center;
}

.logo{
    color: $white;
    font-size: 25px;
    padding: 20px 40px;
}

.logo:hover{
    background-color: $black;
    
}