#search {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#search input {
    padding: 10px 20px;
    min-width: 400px;
    border: none;
    font-size: 20px;
}
#search input:focus{
    outline: none;
    background-color: $light;
}
#search button {
    padding: 10px;
    background-color: $black;
    color: $white;
    border: none;
    cursor: pointer;
}
#search span{
    font-size: 30px;
}
#search button:hover {
    background-color: $light;
    color: $black;
}
#search form {
    width: 100%;
    display: flex;
}
